<!DOCTYPE html>
<html>
<head>
    <title>DataFlair - Message Encode and Decode</title>
</head>
<body>
    <h1>ENCODE DECODE</h1>
    <form action="/encode_decode" method="POST">
        <label for="message">MESSAGE:</label><br>
        <input type="text" id="message" name="message" required><br><br>
        
        <label for="private_key">KEY:</label><br>
        <input type="text" id="private_key" name="private_key" required><br><br>
        
        <label for="mode">MODE (e-encode, d-decode):</label><br>
        <input type="text" id="mode" name="mode" required><br><br>
        
        <input type="submit" value="RESULT">
    </form>
</body>
</html>
